.chartPage {
  display: grid;
  grid-template-columns: 50% 50%;
}

.chartInfo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.chart {
  margin: auto;
  width: 500px;
  grid-row-start: 1;
  grid-row-end: 3;
}
